<script data-isso="//isso.postblue.info/" data-isso-css="true" data-isso-reply-to-self="false" data-isso-avatar="false" src="//isso.postblue.info/js/embed.min.js"></script>

<div>
	<section id="isso-thread" data-isso-id="{{url relative="true"}}"></section>
</div>
